@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .infotext {
        @apply p-4 rounded-lg max-w-[275px] bg-[#3E3F4B]
    }
    .chatrow {
        @apply rounded-lg px-4 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-[#2a2b32] cursor-pointer text-gray-300 transition-all duration-200 ease-out
    }
    .in {
        @apply hover:bg-[#202123]
    } 
}

/* For Webkit browsers */
.chat-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d3d1d1;
  border-radius: 3px;
}

/* For Firefox */
.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e2e2e2 #2d2d2d;
}
